{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">¡Un sueño hecho realidad!</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>El sueño de la Sra. Camila Ferrata era crear una cafetería gourmet en la ciudad de San Cristóbal de las Casas (Chiapas), en donde la gente degustara y gozara de una excelente variedad de cafés, prestando un servicio de calidad que busca complacer a la gente que acuda al lugar.</p>
            <p>El 16 de agosto del 2003, la Sra. Camila Ferrata cristalizó su idea y fundó “Aromas de Tierra”, convirtiendo así su sueño en realidad. Tal fue el éxito e impacto de Aromas de Tierra, que en menos de dos años abrió tres locales más en la misma ciudad, atendido así la enorme demanda de sus clientes. La cafetería es un concepto dirigido a adultos contemporáneos, ofreciendo a sus comensales un lugar rodeado de un ambiente cálido y casual, que permite sentirse cómodo con su excelente servicio y que satisface su paladar mediante la calidad, en donde la característica de tales, son la mezcla de sabores, olores y sobre todo, la porción de los mismos.</p>
        </div>
      </div>
    </div>
  </div>
    </div>
</section>
{% endblock %}